body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: white; */
  height: 100vh;
}

.box {
  height: 404px;
  width: 260px;
  background: white;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-family: 'Outfit', sans-serif;
}

img {
  width: 95%;
  border-radius: 22px;
}

.content {
  text-align: center;
  color: gray;
  padding: 5px;
}

.header {
  text-align: center;
  font-weight: 700;
  padding: 11px;
}
